<a href="https://colab.research.google.com/github/SaqlainHussainShah/Cross-site-scripting-attacks/blob/master/XSS_V2_NN_64_Flatten_Dense_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import glob
import time
import pandas as pd
# from xml.dom import minidom

import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords 

import tensorflow as tf
from tensorflow import keras
import os
import matplotlib.pyplot as plt

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [0]:
import cv2

In [0]:
df = pd.read_csv('./XSS.csv', encoding='utf-8-sig')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16317 entries, 0 to 16316
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16317 non-null  int64
 1   Sentence    16317 non-null  object
 2   Label       16317 non-null  int64
dtypes: int64(2), object(1)
memory usage: 382.6+ KB

In [18]:
df.head()

   Unnamed: 0                                           Sentence  Label
0           0                       ['canfranc' 8 'norm' 'norm']      0
1           1  <abbr oncut="alert(1)" contenteditable>test</a...      1
2           2     <picture onmouseover="alert(1)">test</picture>      1
3           3  <div role="navigation" class="navbox" aria-lab...      0
4           4  <li id="cite_note-FOOTNOTEDomingos2015210-207"...      0

In [19]:
df.head()

   Unnamed: 0                                           Sentence  Label
0           0                       ['canfranc' 8 'norm' 'norm']      0
1           1  <abbr oncut="alert(1)" contenteditable>test</a...      1
2           2     <picture onmouseover="alert(1)">test</picture>      1
3           3  <div role="navigation" class="navbox" aria-lab...      0
4           4  <li id="cite_note-FOOTNOTEDomingos2015210-207"...      0

In [0]:
df=df[df.columns[-2:]]  # Only get sentence and labels

In [21]:
df.head()

                                            Sentence  Label
0                       ['canfranc' 8 'norm' 'norm']      0
1  <abbr oncut="alert(1)" contenteditable>test</a...      1
2     <picture onmouseover="alert(1)">test</picture>      1
3  <div role="navigation" class="navbox" aria-lab...      0
4  <li id="cite_note-FOOTNOTEDomingos2015210-207"...      0

In [22]:
sentences=df['Sentence'].values
sentences[1]

'<abbr oncut="alert(1)" contenteditable>test</abbr>'

In [23]:
print(len(sentences))

16317

In [0]:
df_xss = df[df['Label'] == 1]

In [25]:
df_xss.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8004 entries, 1 to 16316
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  8004 non-null   object
 1   Label     8004 non-null   int64
dtypes: int64(1), object(1)
memory usage: 187.6+ KB

In [0]:
df_benign = df[df['Label'] == 0]

In [27]:
df_benign.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8313 entries, 0 to 16308
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  8313 non-null   object
 1   Label     8313 non-null   int64
dtypes: int64(1), object(1)
memory usage: 194.8+ KB

In [0]:
# Convert to ASCII

def convert_to_ascii(sentence):
    sentence_ascii=[]

    for i in sentence:
        
        
        """Some characters have values very big e.d 8221 adn some are chinese letters
        I am removing letters having values greater than 8222 and for rest greater 
        than 128 and smaller than 8222 assigning them values so they can easily be normalized"""
       
        if(ord(i)<8222):      # ” has ASCII of 8221
            
            if(ord(i)==8217): # ’  :  8217
                sentence_ascii.append(134)
            
            
            if(ord(i)==8221): # ”  :  8221
                sentence_ascii.append(129)
                
            if(ord(i)==8220): # “  :  8220
                sentence_ascii.append(130)
                
                
            if(ord(i)==8216): # ‘  :  8216
                sentence_ascii.append(131)
                
            if(ord(i)==8217): # ’  :  8217
                sentence_ascii.append(132)
            
            if(ord(i)==8211): # –  :  8211
                sentence_ascii.append(133)
                
                
            """
            If values less than 128 store them else discard them
            """
            if (ord(i)<=128):
                    sentence_ascii.append(ord(i))
    
            else:
                    pass
            

    zer=np.zeros((10000))

    for i in range(len(sentence_ascii)):
        zer[i]=sentence_ascii[i]

    zer.shape=(100, 100)


#     plt.plot(image)
#     plt.show()
    return zer

In [0]:
arr=np.zeros((len(sentences),100,100))

for i in range(len(sentences)):
    
    image=convert_to_ascii(sentences[i])

    x=np.asarray(image,dtype='float')
    image =  cv2.resize(x, dsize=(100,100), interpolation=cv2.INTER_CUBIC)
    image/=128

    
#     if i==1:
#         plt.plot(image)
#         plt.show()    
    arr[i]=image

In [0]:
data = arr.reshape(arr.shape[0], 100, 100, 1)

In [31]:
data.shape

(16317, 100, 100, 1)

In [0]:
y=df['Label'].values

In [0]:


# Split into train/test data
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(data,y, test_size=0.2, random_state=42)

In [34]:
trainX.shape

(13053, 100, 100, 1)

In [36]:


# import libraries for Making Model
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Activation, Conv2D, MaxPooling2D,Flatten,Dropout,MaxPool2D, BatchNormalization

Using TensorFlow backend.

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Conv2D, MaxPooling2D,Flatten,Dropout,MaxPool2D, BatchNormalization

model = tf.keras.Sequential()
model.add(tf.keras.layers.Flatten(input_shape=(100,100,1)))

model.add(keras.layers.Dense(1024, activation='relu'))
model.add(keras.layers.Dense(512, activation='relu'))

model.add(keras.layers.Dense(256, activation='relu'))

model.add(keras.layers.Dense(128, activation='relu'))

# model.add(keras.layers.Dense(20,  activation='relu'))
# model.add(keras.layers.Dense(10,  activation='tanh'))
# # model.add(layers.Flatten())
# model.add(keras.layers.Dense(1024, activation='relu'))

model.add(keras.layers.BatchNormalization())
model.add(keras.layers.Dropout(0.5))
model.add(keras.layers.Dense(1, activation='sigmoid'))

In [225]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])
model.summary()

Model: "sequential_16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_19 (Flatten)         (None, 10000)             0
_________________________________________________________________
dense_65 (Dense)             (None, 1024)              10241024
_________________________________________________________________
dense_66 (Dense)             (None, 512)               524800
_________________________________________________________________
dense_67 (Dense)             (None, 256)               131328
_________________________________________________________________
dense_68 (Dense)             (None, 128)               32896
_________________________________________________________________
batch_normalization_3 (Batch (None, 128)               512
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_69 (Dense)             (None, 1)                 129
=================================================================
Total params: 10,930,689
Trainable params: 10,930,433
Non-trainable params: 256
_________________________________________________________________

In [0]:

class myCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        if(logs.get('val_accuracy')>0.97):
            print(" \n Reached 99% + validation accuracy")
            self.model.stop_training=True
callbacks = myCallback()

In [227]:


batch_size = 64
num_epoch = 10
#model training
model_log = model.fit(trainX, trainY,
          batch_size=batch_size,
          epochs=num_epoch,
          verbose=1,
          validation_data=( testX,  testY)
#                        callbacks=[callbacks]
                     )

Epoch 1/10
204/204 [==============================] - 2s 8ms/step - loss: 0.2192 - accuracy: 0.9157 - val_loss: 0.2206 - val_accuracy: 0.9173
Epoch 2/10
204/204 [==============================] - 1s 7ms/step - loss: 0.1440 - accuracy: 0.9540 - val_loss: 0.1429 - val_accuracy: 0.9534
Epoch 3/10
204/204 [==============================] - 1s 7ms/step - loss: 0.1457 - accuracy: 0.9535 - val_loss: 0.2114 - val_accuracy: 0.9225
Epoch 4/10
204/204 [==============================] - 1s 7ms/step - loss: 0.1118 - accuracy: 0.9634 - val_loss: 0.1244 - val_accuracy: 0.9657
Epoch 5/10
204/204 [==============================] - 1s 7ms/step - loss: 0.1092 - accuracy: 0.9664 - val_loss: 0.1140 - val_accuracy: 0.9681
Epoch 6/10
204/204 [==============================] - 1s 7ms/step - loss: 0.1075 - accuracy: 0.9677 - val_loss: 0.1268 - val_accuracy: 0.9669
Epoch 7/10
204/204 [==============================] - 1s 7ms/step - loss: 0.0894 - accuracy: 0.9727 - val_loss: 0.1408 - val_accuracy: 0.9596
Epoch 8/10
204/204 [==============================] - 1s 7ms/step - loss: 0.0907 - accuracy: 0.9730 - val_loss: 0.1185 - val_accuracy: 0.9697
Epoch 9/10
204/204 [==============================] - 1s 7ms/step - loss: 0.0857 - accuracy: 0.9736 - val_loss: 0.1671 - val_accuracy: 0.9547
Epoch 10/10
204/204 [==============================] - 1s 7ms/step - loss: 0.0811 - accuracy: 0.9744 - val_loss: 0.1683 - val_accuracy: 0.9491

In [0]:
pred=model.predict(testX)

In [0]:

for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    elif pred[i]<=0.5:
        pred[i]=0

In [230]:

true=0
false=0

for i in range(len(pred)):
    if pred[i] == testY[i]:
        true+=1
    else:
        false+=1
        
print("correct predicted :: ", true)
print("false prediction :: ", false)

correct predicted ::  3098
false prediction ::  166

In [231]:
attack=0
benign=0
for i in range(len(testY)):
    if testY[i]==1:
        attack+=1
    else:
        benign+=1

print("Attack data in test set :: ", attack)
print(" Benign data in test set :: ", benign)

Attack data in test set ::  1615
 Benign data in test set ::  1649

In [0]:

def accuracy_function(tp,tn,fp,fn):
    
    accuracy = (tp+tn) / (tp+tn+fp+fn)
    
    return accuracy

In [0]:
def precision_function(tp,fp):
    
    precision = tp / (tp+fp)
    
    return precision

In [0]:
def recall_function(tp,fn):
    
    recall=tp / (tp+fn)
    
    return recall

In [0]:
def confusion_matrix(truth,predicted):
    
    true_positive = 0
    true_negative = 0
    false_positive = 0
    false_negative = 0
    
    for true,pred in zip(truth,predicted):
        if true == 1:
            if pred == true:
                true_positive += 1
            elif pred != true:
                false_negative += 1

        elif true == 0:
            if pred == true:
                true_negative += 1
            elif pred != true:
                false_positive += 1
            
    accuracy=accuracy_function(true_positive, true_negative, false_positive, false_negative)
    precision=precision_function(true_positive, false_positive)
    recall=recall_function(true_positive, false_negative)
    
    return (accuracy,
            precision,
           recall)

In [0]:
accuracy,precision,recall=confusion_matrix(testY,pred)

In [237]:



print(" For NN with batch size {3} Dense 4 \n Accuracy : {0} \n Precision : {1} \n Recall : {2} \n".format(accuracy, precision, recall,batch_size))

 For NN with batch size 64 Dense 4
 Accuracy : 0.9491421568627451
 Precision : 0.9161401493394601
 Recall : 0.9876160990712074